<!DOCTYPE html>
<html>
<head>
	<title> <h1> Correlation Function Calculator </h1></title>
</head>
<body>
	<h1> Correlation Function Calculator </h1>

	<div style="text-align: center;">
	<span class="a">
	<h2> Please enter the name of the file containing the coordinates of your data in the format: </h2>
	<p>x1, y1, z1 </p>
	<p>x2, y2, z2 </p>
	<p>x3, ys, z3 </p>
	<p>...</p>

	<h2>.txt and .csv files are accepted </h2>

        <form method="POST" enctype="multipart/form-data" action="/">
                <input type="file" name="upload" accept=".txt, .csv" multiple>
                <input type="submit" value="Upload">
        </form>

	</span>
	</div><br>

	<div style="text-align: center;">
	<span class="b"> <h2> Enter the maximum possible values of each coordinate: </h2>
	x maximum: <input type="number" id="xmax" />
	y maximum: <input type="number" id="ymax" />
	z maximum: <input type="number" id="zmax" /></span>

	<span class="b"> <h2> Enter the minimum possible values of each coordinate: </h2>
	x minimum: <input type="number" id="xmin" />
	y minimum: <input type="number" id="ymin" />
	z minimum: <input type="number" id="zmin" /></span>
	<br>

	<span class="c">
	Enter the maximum correlation length that should be calculated: <input type="number" id="maxLength" />
	Enter the minimum correlation length that should be calculated: <input type="number" id="minLength" />
	</span>

	<span class="c">
	How Many bins should be used: <input type="number" id="binNum" />
    </span>
        <br>
	<input type="button" id="bt" value="Calculate" onclick="saveFile()" />
	</div>

</body>

<script>
    let saveFile = () => {
        const xmax = document.getElementById('xmax');
        const ymax = document.getElementById('ymax');
        const zmax = document.getElementById('zmax');

        const xmin = document.getElementById('xmin');
        const ymin = document.getElementById('ymin');
        const zmin = document.getElementById('zmin');

        const maxLength = document.getElementById('maxLength');
        const minLength = document.getElementById('minLength');

        const binNum = document.getElementById('binNum');

        let data =
                '\rX Maximum:' + xmax.value + '\r\n' +
                'Y Maximum: ' + ymax.value + '\r\n' +
                'Z Maximum: ' + zmax.value + '\r\n\r\n' +
                'X Minimum: ' + xmin.value + '\r\n' +
                'Y Minimum: ' + ymin.value + '\r\n' +
                'Z Minimum: ' + zmin.value + '\r\n\r\n' +
                'Maximum Correlation Length: ' + maxLength.value + '\r\n' +
                'Minimum Correlation Length: ' + minLength.value + '\r\n' +
                'Number of bins: ' + binNum.value;

        const textToBLOB = new Blob([data], { type: 'text/plain' });
        const fileName = 'formData.txt';

        let newLink = document.createElement("a");
        newLink.download = fileName;

        if(window.webkitURL != null) {
            newLink.href = window.webkitURL.createObjectURL(textToBLOB);
        }
        else
        {
            newLink.href = window.URL.createObjectURL(textToBLOB);
            newLink.style.display = "none";
            document.body.appendChild(newLink);
        }

        newLink.click();
    }
</script>

</html>
