<!DOCTYPE html>
<html>
<head>
	<title> <h1> Correlation Function Calculator </h1></title>
</head>
<body>
	<h1> Correlation Function Calculator </h1>

	<div style="text-align: center;">
	<span class="a">
	<h2> Please enter the name of the file containing the coordinates of your data in the format: </h2>
	<p>x1, y1, z1 </p>
	<p>x2, y2, z2 </p>
	<p>x3, ys, z3 </p>
	<p>...</p>

	<h2>.txt and .csv files are accepted </h2>

        <form action="/userFileSubmit.handlebars">
                <input type="file" name="dataDoc" accept=".txt, .csv">
                <input type="submit" value="Submit File">
        </form>

	</span>
	</div><br>

	<div style="text-align: center;">
	<span class="b"> <h2> Enter the maximum possible values of each coordinate: </h2>
	<p>x maximum: </p><form> <input type="number" name="xmax"></form>
	<p>y maximum: </p><form> <input type="number" name="ymax"></form>
	<p>z maximum: </p><form> <input type="number" name="zmax"></form></span>

	<span class="b"> <h2> Enter the minimum possible values of each coordinate: </h2>
	<p>x minimum: </p><form> <input type="number" name="xmin"></form>
	<p>y minimum: </p><form> <input type="number" name="ymin"></form>
	<p>z minimum: </p><form> <input type="number" name="zmin"></form></span>
	</div><br>
	
	<div style="text-align: center;">
	<span class="c">
	<h2> Enter the maximum correlation length that should be calculated: <form> <input type="number" name="maxLength"></form></h2>
	<h2> Enter the minimum correlation length that should be calculated: <form> <input type="number" name="minLength"></form></h2>
	</span>

	<span class="c">
	<h2> How Many bins should be used: <form> <input type="number" name="binNum"></form></h2>

	<button name=calculate> Calculate </button>
	</span>
	</div>

</body>
</html>
