<!DOCTYPE html>
<html>
<head>
	<title> <h1> Correlation Function Calculator </h1></title>
</head>
<body>
	<h1> Correlation Function Calculator </h1>

	<div style="text-align: center;">
	<span class="a">
	<h2> Please enter the name of the file containing the coordinates of your data in the format: </h2>
	<p>x1, y1, z1 </p>
	<p>x2, y2, z2 </p>
	<p>x3, y3, z3 </p>
	<p>...</p>

	<h2>.txt and .csv files are accepted </h2>

	<script>
        function redirectCalculations() {
        setTimeout(function(){
        console.log("redirecting to calculation page");
	window.location.href="calculations";
	}, 15000);
        }
        </script>

	<script>
        function redirect() {
        setTimeout(function(){
        console.log("in redirect Function");
        window.location.href = "inputFileValidate";
	}, 8000);
        }
        </script>

	<script>
        function redirectGraph() {
        console.log("redirecting to download graph");
        window.location.href="graph";
        }
        </script>


	<script>
	function alertInput() {
	alert("Allow a few seconds to see results of the Input Validation function. If invalid input, see comments, and send a new file.");
	}
	</script>

	<script>
        function alertCalculation() {
        alert("Allow up to 30 seconds for calculate function to run and display.");
        }
        </script>


        <form method="POST" enctype="multipart/form-data" action="/">
                <input type="file" name="upload" accept=".txt, .csv" multiple>
                <input type="submit" value="Upload"  onclick="redirect(); alertInput();">
        </form>
	
	<div></div> 
        {{results}}

	</span>
	</div><br>


	<div style="text-align: center;">
        <form method="POST" action="/submit-form">
            <span class="b"> <h2> Enter the maximum possible values of each coordinate: </h2>
            x maximum: <input type="text" name="xmax" /><br>
            y maximum: <input type="text" name="ymax" /><br>
            z maximum: <input type="text" name="zmax" /></span>

            <span class="b"> <h2> Enter the minimum possible values of each coordinate: </h2>
            x minimum: <input type="text" name="xmin" /><br>
            y minimum: <input type="text" name="ymin" /><br>
            z minimum: <input type="text" name="zmin" /></span>
            <br>

            <span class="c">
            Enter the maximum correlation length that should be calculated: <input type="text" name="maxLength" /><br>
            </span>

            <span class="c">
                How Many bins should be used:<br>
                <input type="text" name="binNum" />
            </span>
            <br>
            <input type="submit" value="Submit Parameters"/>
        </form>
	</div>

    {{#if message}}
        <div style="text-align: center;">
            <span class="c">
                <h2>{{message}}</h2>
            </span>
        </div>
    {{/if}}
             
   </form>


 <div style="text-align: center;">
        <span class="c">
	        <input type="button" value="Calculate" onclick="redirectCalculations(); alertCalculation();">
        </span>
</div>
	
</body>
</html>
