<!DOCTYPE html>
<html>
<head>
	<title> <h1> Correlation Function Calculator </h1></title>
</head>
<body>
	<h1> Correlation Function Calculator </h1>

	<div style="text-align: center;">
	<span class="a">
	<h2> Please enter the name of the file containing the coordinates of your data in the format: </h2>
	<p>x1, y1, z1 </p>
	<p>x2, y2, z2 </p>
	<p>x3, ys, z3 </p>
	<p>...</p>

	<h2>.txt and .csv files are accepted </h2>

	<script>
        function redirectHome() {
        console.log("redirecting to home page");
        setTimeout(function(){
        console.log("done waiting in redirect home");
	window.location.href="";
	}, 15000);
        }
        </script>

	<script>
        function redirect() {
        setTimeout(function(){
        console.log("in redirect Function");
        window.location.href = "inputFileValidate";
	}, 8000);
        }
        </script>

        <form method="POST" enctype="multipart/form-data" action="/">
                <input type="file" name="upload" accept=".txt, .csv" multiple>
                <input type="submit" value="Upload" target="_blank" onclick="redirect();">
        </form>


	</span>
	</div><br>

	<div style="text-align: center;">
        <form method="POST" action="/submit-form">
            <span class="b"> <h2> Enter the maximum possible values of each coordinate: </h2>
            x maximum: <input type="text" name="xmax" /><br>
            y maximum: <input type="text" name="ymax" /><br>
            z maximum: <input type="text" name="zmax" /></span>

            <span class="b"> <h2> Enter the minimum possible values of each coordinate: </h2>
            x minimum: <input type="text" name="xmin" /><br>
            y minimum: <input type="text" name="ymin" /><br>
            z minimum: <input type="text" name="zmin" /></span>
            <br>

            <span class="c">
            Enter the maximum correlation length that should be calculated: <input type="text" name="maxLength" /><br>
            </span>

            <span class="c">
            How Many bins should be used: <input type="text" name="binNum" />
            </span>
            <br>
            <input type="submit" />
        </form>
	</div>

    <div style="text-align: center;">
        <span class="c">
            <h2>{{ message }}</h2>
        </span>
    </div>

   <input type="button" value="Calculate" onclick="alert('Before double clicking Calculate to run, make sure that you have submitted an input file and filled the forms for max, min, and bin count!');" ondblclick="redirect();">
             
   </form>


</body>
</html>
