<!DOCTYPE html>
<html>
<head>
    <title><h1> Correlation Function Calculator </h1></title>
</head>
<body>
<h1> Correlation Function Calculator </h1>

<div style="text-align: center;">
	<span class="a">
	<h2> Please enter the name of the file containing the coordinates of your data in the format: </h2>
	<p>x1, y1, z1 </p>
	<p>x2, y2, z2 </p>
	<p>x3, ys, z3 </p>
	<p>...</p>

	<h2>.txt and .csv files are accepted </h2>

        <form method="POST" enctype="multipart/form-data" action="/">
                <input type="file" name="upload" accept=".txt, .csv" multiple>
                <input type="submit" name="Add File" value="Upload">
        </form>

	</span>
</div>
<br>
<div style="text-align: center;">
    <span class="a">
<form method="POST" action="/myGraphs">
    <h2> Enter the maximum possible values of each coordinate: </h2>
	x maximum: <input type="number" id="xmax" name="xmax" placeholder="x">
	y maximum: <input type="number" id="ymax" name="ymax" placeholder="y">
	z maximum: <input type="number" id="zmax" name="zmax" placeholder="z">

    <h2> Enter the minimum possible values of each coordinate: </h2>
	x minimum: <input type="number" id="xmin" name="xmin" placeholder="x">
	y minimum: <input type="number" id="ymin" name="ymin" placeholder="y">
	z minimum: <input type="number" id="zmin" name="zmin" placeholder="z">

	<h2> Enter the maximum correlation length that should be calculated:  <input type="number" id="maxLength"
                                                                                 name="maxLength"
                                                                                 placeholder="maximum"></h2>
	<h2> Enter the minimum correlation length that should be calculated: <input type="number" id="minLength"
                                                                                name="minLength"
                                                                                placeholder="minimum"></h2>

	<h2> How Many bins should be used:  <input type="number" id="binNum" name="binNum" placeholder="# of bins"></h2>

    <input type="submit" name="Calculate" value="Calculate"/>
</form>
    </span>
</div>
</body>

</html>
