<body text= "white" text-align:"center" onload="alertFunction()">

<h2 text="white"> Input File Validation Results: </h2>

{{results}}

</body>

<script>
function alertFunction() {
alert("Results of the input Validation function. If invalid input, see comments, and send a new file. Otherwise, navigate to 'home', fill the form data, and calculate the correlation!");
}
</script>
