<!DOCTYPE html>
<html>
<head>
    <title> <h1> Correlation Function Calculator </h1></title>
</head>
<body>
    <h1>Click the links below for more resources!</h1>
    <div style="text-align: center;">
	    <span class="b">
            <a href="https://ned.ipac.caltech.edu/level5/March04/Jones/Jones5_2.html">The correlation function: galaxies</a><br>
            <a href="http://articles.adsabs.harvard.edu/cgi-bin/nph-iarticle_query?1993ApJ...412...64L&amp;data_type=PDF_HIGH&amp;whole_paper=YES&amp;type=PRINTER&amp;filetype=.pdf">Bias and Variance of Angular Correlation Functions</a><br>
            <a href="https://arxiv.org/abs/astro-ph/0308519">The Dark Side of the Halo Occupation Distribution</a><br>
            <a href="https://arxiv.org/abs/1012.1317">Galaxy clustering in the NEWFIRM Medium Band Survey: the relationship between stellar mass and dark matter halo mass at 1 < z < 2</a><br>
            <a href="https://arxiv.org/pdf/astro-ph/9809202.pdf">Evolution of Bias in Different Cosmological Models</a>
        </span>
    </div>
</body>
</html>
