body{
    margin: 0;
    font-family: 'Indie Flower', cursive; 
    background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/hubble_monday_07252016.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.topnav{
    overflow: hidden;
    background-color: #333;
}

.topnav a{
    float: left;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover{
    background-color: purple;
    color: black;
}

h1{
    color: palevioletred;
    text-align: center;
}

h2{
    color: black;
}

p{
    font-size: 20px;
}

span.a{
    display: inline-block;
    background-color: lightseagreen;
    width: 1000px;
    border: 15px solid lavender;
    padding: 5px;
    
}

span.b{
    display: inline-block;
    background-color: lightseagreen;
    width: 500px;
    border: 15px solid lavender;
    padding: 5px;
    
}

span.c{
    display: inline-block;
    background-color: lightseagreen;
    width: 500px;
    border: 15px solid lavender;
    padding: 5px;
    
}

.button
{
    width: 150px;
    text-align: center;
    margin: 0 auto;

}
